.blob-container {
    width: 450px;
    height: 450px;
}

.blob {
    max-height: 90vh;
    width: 90vw;
}

.blob path {
    animation: blob 30s linear infinite;
}

@keyframes blob {
    0% {
        d: path("M450,290.5Q432,331,418,376.5Q404,422,356.5,426.5Q309,431,271,420.5Q233,410,199,403.5Q165,397,137,374.5Q109,352,63.5,325.5Q18,299,14,249Q10,199,37,157Q64,115,114,108.5Q164,102,195,60Q226,18,261.5,61.5Q297,105,337,107Q377,109,390.5,145.5Q404,182,436,216Q468,250,450,290.5Z");
    }

    25% {
        d: path("M427.5,284.5Q405,319,382,345Q359,371,333.5,400.5Q308,430,267,454.5Q226,479,188.5,450.5Q151,422,106.5,404.5Q62,387,49,341Q36,295,51.5,253Q67,211,90,180.5Q113,150,122,97.5Q131,45,182,66Q233,87,275.5,64Q318,41,351.5,70.5Q385,100,403.5,137Q422,174,436,212Q450,250,427.5,284.5Z");
    }

    50% {
        d: path("M479.84277,296.5791Q460.36254,343.1582,418.2373,366.64172Q376.11206,390.12524,336.51978,392.44727Q296.92749,394.76929,263.47693,415.24292Q230.02637,435.71656,186.99011,434.89783Q143.95386,434.0791,133.67798,387.89124Q123.40209,341.70337,74.66809,319.86157Q25.93408,298.01978,17.27588,248.47034Q8.61768,198.9209,60.80884,174.96375Q113,151.00659,132.56921,115.61865Q152.13843,80.23071,189.54944,53.9209Q226.96045,27.61109,265.93738,53.43079Q304.91431,79.25048,336.90442,98.68457Q368.89453,118.11865,418.09558,135.49011Q467.29663,152.86157,483.30981,201.43079Q499.32299,250,479.84277,296.5791Z");
    }

    75% {
        d: path("M444,289Q426,328,390,347Q354,366,327.5,386Q301,406,263.5,442Q226,478,184.5,457Q143,436,135,388Q127,340,81,318Q35,296,62,256Q89,216,82.5,170Q76,124,118.5,110Q161,96,196.5,87Q232,78,275,59Q318,40,353.5,68Q389,96,391.5,141Q394,186,428,218Q462,250,444,289Z");
    }

    100% {
        d: path("M450.5,296Q456,342,413.5,363.5Q371,385,334,389Q297,393,261.5,435.5Q226,478,176,471.5Q126,465,101,420.5Q76,376,84.5,329.5Q93,283,50,240.5Q7,198,48,165.5Q89,133,117,101Q145,69,186.5,52.5Q228,36,262.5,70Q297,104,327.5,117Q358,130,396.5,148.5Q435,167,440,208.5Q445,250,450.5,296Z");
    }
}